:root {
  --shadow-soft: 0 12px 32px rgba(120, 90, 60, 0.08);

  --homok: #d9d9d9;
  --body-text: #2b2b2b;
  --title: #2a3937;
  --white: #fff;
  --grey: #acacac;
  --brown: #4f3c29;
  --dark-beige: #f6f1e7;
  --medium-beige: #cbbba0;
  --soft-beige: #e7ddcf;
  --terrakotta: #c98a72;
  --simply-red: #a44768;
  --beige: #c8b29b;
  --gold: #a88057;
  --radius: 0.5rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ===== HEADER ===== */

#header {
  position: sticky;
  width: 100%;
  z-index: 1000;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(12px);
  box-shadow: var(--shadow-soft);
  background-color: rgb(253, 253, 253, 0.08);
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 82px;
}
/* ===== LOGO ===== */

.logo-link img {
  width: 10%;
  transition: 0.2s ease;
}

.logo-link:hover img {
  transform: scale(1.05);
}

/* ===== MENU ===== */

#main-menu ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu ul li a {
  position: relative;
  /*color: rgba(255, 255, 255, 0.82);*/
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: 0.3s ease;
  padding: 0.5rem 0;
  color: var(--body-text);
  border-bottom: 1 px solid wheat;
}

/* hover line */

#main-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0%;
  height: 2px;

  background: var(--grey);

  border-radius: 999px;
  transition: width 0.35s ease;
}

#main-menu ul li a:hover {
  color: var(--gold);
}

#main-menu ul li a:hover::after {
  width: 100%;
}

/* ===== MOBILE ===== */

#hamburger {
  display: none;
}

@media (max-width: 900px) {
  .nav-wrapper {
    min-height: 72px;
  }

  #hamburger {
    display: flex;

    width: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    width: 48px;
    height: 48px;

    cursor: pointer;

    /*border-radius: 14px;
    border: white;*/

    background: white;

    cursor: pointer;
  }
  #hamburger span {
    display: block;

    width: 3rem;
    height: 2px;
    background: var(--gold);
    /*border-radius: 999px;*/

    transition: 0.3s ease;
  }

  #main-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 998;
    width: 100%;

    background: var(--soft-beige);
    backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    transition: 0.4s ease;
    max-height: 0;
    overflow: hidden;
  }

  #main-menu.nyitva {
    max-height: 400px;
  }

  #main-menu ul {
    flex-direction: column;
    align-items: flex-start;

    gap: 0;

    padding: 1rem 1.5rem;
  }

  #main-menu ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  #main-menu ul li a {
    display: block;
    width: 100%;
    padding: 1rem 0;
  }
}
